@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   @import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');

   * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
   }

   html,
   body {
      font-family: 'Public Sans', sans-serif;
   }

   #root {
      position: relative;
   }

   h1 {
      font-size: 4rem;
      line-height: 4.4rem;
   }

   h2 {
      font-size: 2.5rem;
   }

   h3 {
      font-size: 1.5rem;
   }

   p {
      font-size: 1.25rem;
      line-height: 1.87rem;
   }

   button {
      background: linear-gradient(
         to right,
         hsl(136, 65%, 51%),
         50%,
         hsl(192, 70%, 51%)
      );
   }

   header nav a .active {
      color: red;
   }

   @media (max-width: 320px) {
      h1,
      h2 {
         font-size: 2rem;
         line-height: 2.4rem;
      }

      p {
         font-size: 1rem;
         line-height: 1.5rem;
      }

      nav {
         height: calc(100vh-100px);
         background: linear-gradient(180deg, hsl(233, 26%, 24%), transparent);
      }

      a {
         font-size: 1.5rem;
      }
   }
}

@layer utilities {
   .logo {
      width: 220px;
   }

   .logo .g_in .path_in {
      fill: #fff;
   }

   .iconSociaMedia {
      width: 40px;
      height: 40px;
   }

   .iconSociaMedia:hover {
      transition: 0.2s ease-in-out;
      transform: scale(1.5);
   }

   .iconSociaMedia > path:hover {
      fill: hsl(136, 65%, 51%);
      transition: 0.2s ease-in-out;
   }

   .about {
      grid-area: about;
   }

   .contact {
      grid-area: contact;
   }

   .blog {
      grid-area: blog;
   }

   .career {
      grid-area: career;
   }

   .support {
      grid-area: support;
   }

   .policy {
      grid-area: policy;
   }

   .navFooter {
      display: grid;
      grid-template-areas:
         'about career'
         'contact support'
         'blog policy';
      row-gap: 20px;
      column-gap: 92px;
   }

   @media (max-width: 320px) {
      .navFooter a {
         font-size: 1.125rem;
      }
   }
}
